body {
	background: yellowgreen;
	font-family: "roboto", sans-serif;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0.1, 0, 0, 0.1);
}
h1{
	font-size: 50px;
	color: #f15c62;
	text-transform: uppercase;
	text-align: center; 
	background-color: purple;
}
p{
	background: #fff;
	padding: 15px;
}
.dark{
	background: #333;
	color: #fff;
}
#colorfull{
	background: #f15c62;
	color: #333;
}
#navigazione{text-align: center;}
#navigazione li{display: inline;
a{color: #f15c62}
}
html {
	background: floralwhite;
	font-family: "roboto", sans-serif;
}

@media (max-width: 768px) {
	#colorfull {
		font-size: 20px;
		padding: 10px;
	}
}
#home {
	padding: 20px;
}